.playCardSong {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 1rem 0.8rem;
  &__imageContainer {
    position: relative;
    display: block;
    border-radius: 0.2rem;
    width: 10rem;
    height: 8rem;
    background-color: black;
  }
  &__songContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__songTitle {
    padding-bottom: 1rem;
    width: 13.75rem;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__songDivider {
    width: 14rem;
  }
  &__songSlider {
    width: 12.5rem;
    height: 0.6rem;
  }
}

@media screen and (max-width: 767px) {
  .playCardSong {
    flex-direction: column;
    padding: 1.5rem 1rem 0;
  }
}
