.playCardSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  &__img {
    border-radius: 0.2rem;
  }
  &__songContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__songTitle {
    padding: 1rem;
    width: 16.9rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (min-width: 47.9rem) {
  .playCardSong {
    flex-direction: row;
    padding-top: 0;
    padding-right: 0.8rem;
    &__img {
      order: 1;
    }
  }
}
