.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 1.25rem 1.25rem;
  min-height: calc(100vh - 5rem);
  &--open {
    gap: 2.5rem;
  }
  &--closed {
    gap: 3.5rem;
  }
  &__title {
    font-family: "Lato", sans-serif;
  }
  &__titleSpan {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .room {
    &__title {
      font-size: 1.5rem;
    }
    &__titleSpan {
      font-size: 1rem;
    }
  }
}
