.cardSong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0 0.6rem;
  height: 3.5rem;
  overflow: visible;
  &__title,
  &__titleThin {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__title {
    width: 10.6rem;
  }
  &__titleThin {
    width: 9.3rem;
  }
  &__voteContainer,
  &__playContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__voteButton,
  &__playButton {
    padding: 0;
  }
  &__voteIcon {
    font-size: 1.8rem;
  }
  &__voteParagraph,
  &__playParagraph {
    font-size: 0.75rem;
  }
  &__playIcon {
    font-size: 2.4rem;
  }
  &__img {
    max-height: 3.1rem;
    max-width: 5.5rem;
  }
}
