.cardSong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0 0.6rem;
  height: 3.5rem;
  overflow: visible;
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &--bold {
      width: 10.6rem;
    }
    &--thin {
      width: 9.3rem;
    }
  }
  &__imageContainer {
    position: relative;
    display: block;
    width: 5.5rem;
    height: 3.5rem;
  }
  &__voteContainer,
  &__playContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__voteButton,
  &__playButton {
    padding: 0;
  }
  &__voteParagraph,
  &__playParagraph {
    font-size: 0.75rem;
  }
  &__voteIcon {
    font-size: 2rem;
  }
  &__playIcon {
    font-size: 2.3rem;
  }
}
