.admin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1.25rem;
  min-height: calc(100vh - 5rem);
  &--open {
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 1.25rem;
  }
  &--closed {
    justify-content: center;
    gap: 2.5rem;
  }
  &__titleContainer {
    position: relative;
  }
  &__title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
  }
  &__titleSpan {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  &__closeButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
  }
  &__closeIcon {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .admin {
    &--open {
      padding-top: 2rem;
    }
    &--closed {
      gap: 2rem;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__titleSpan {
      font-size: 1rem;
    }
  }
}
