.admin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  min-height: calc(100vh - 5rem);

  &__buttonsContainer {
    flex-grow: 0.3;
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}
