.buttonsSong {
  display: flex;
  align-items: center;
  justify-content: center;
  &__pause,
  &__play {
    font-size: 2.4rem;
  }
}

@media (min-width: 767px) {
  .buttonsSong {
    order: 0;
  }
}
